<div class="dashboard-container">
  <section class="summary-header">
    <div class="welcome">
      <h2>{{ saudacao }}, {{ nomeUsuario }}</h2>
      <div class="stats">
        <div class="stat-item">
          <small>Receitas no mês</small>
          <p class="text-success">
            {{ resumo.receitas | currency: "BRL" : "symbol" : "1.2-2" }}
          </p>
        </div>

        <div class="stat-item">
          <small>Despesas no mês</small>
          <p class="text-danger">
            {{ resumo.despesas | currency: "BRL" : "symbol" : "1.2-2" }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="dashboard-grid">
    <app-v-card titulo="Minhas contas">
      <div *ngIf="contas.length > 0" class="lista-resumo">
        <div class="conta-row" *ngFor="let conta of contas">
          <div class="conta-info">
            <mat-icon class="icon-small">account_balance_wallet</mat-icon>
            <span>{{ conta.nome }}</span>
          </div>
          <span class="conta-valor" [class.negativo]="conta.saldo < 0">
            R$ {{ conta.saldo | number: "1.2-2" }}
          </span>
        </div>
        <mat-divider></mat-divider>
        <div class="card-footer">
          <div class="total-box">
            <small>Saldo Geral</small>
            <strong>R$ {{ saldoTotal | number: "1.2-2" }}</strong>
          </div>
          <button mat-button color="primary" routerLink="../contas">
            Ver todas
          </button>
        </div>
      </div>

      <div *ngIf="contas.length === 0" class="empty-state">
        <mat-icon>account_balance</mat-icon>
        <p>Adicione sua primeira conta</p>
        <button mat-flat-button color="primary" routerLink="../contas">
          Gerenciar contas
        </button>
      </div>
    </app-v-card>

    <app-v-card titulo="Meus cartões">
      <div class="empty-state">
        <mat-icon>credit_card</mat-icon>
        <p>Adicione seu primeiro cartão</p>
        <button mat-button color="primary">Gerenciar cartões</button>
      </div>
    </app-v-card>
  </div>
</div>
