:host {
  display: block;
}

h2 {
  margin-bottom: 10px;
  color: #333;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 450px;
  padding-top: 10px;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;

  .half-width {
    flex: 1;
  }
}


mat-form-field {
  width: 100%;
}
