
:host {
  display: block;
  box-sizing: border-box;
}


h2 {
  margin: 0 0 8px 0;
  color: #333;
  font-weight: 500;
}

::ng-deep .mat-mdc-dialog-content {
  overflow-x: hidden !important;
  max-width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding-top: 5px;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;
  width: 100%;

  .half-width {
    flex: 1;
    min-width: 0;
  }
}

mat-form-field {
  width: 100%;
}
