<div class="container mt-5 mb-5">
  <div class="card shadow-sm">
    <div class="card-body p-5">
      <h1 class="mb-4 text-primary">Termos de Uso</h1>

      <h3>1. Aceitação</h3>
      <p>
        Ao acessar o VControla, você concorda em cumprir estes termos de
        serviço.
      </p>

      <h3>2. Uso da Licença (Projeto de Portfólio)</h3>
      <p>
        Este é um projeto desenvolvido para fins de estudo e portfólio. O
        software é fornecido "como está", sem garantias de qualquer tipo.
      </p>

      <h3>3. Isenção de Responsabilidade</h3>
      <p>O desenvolvedor não se responsabiliza por:</p>
      <ul>
        <li>Erros nos cálculos financeiros.</li>
        <li>Perda de dados decorrente de falhas no sistema.</li>
        <li>
          Decisões financeiras tomadas com base nas informações do sistema.
        </li>
      </ul>

      <h3>4. Modificações</h3>
      <p>
        Podemos revisar estes termos de serviço a qualquer momento sem aviso
        prévio.
      </p>

      <div class="mt-4">
        <button routerLink="/auth/login" class="btn btn-outline-secondary">
          Voltar
        </button>
      </div>
    </div>
  </div>
</div>
