.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  width: 100%;
  max-width: 900px;
  background: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);


  padding: 2rem 3rem;
  margin: 0;


  h1 {
    color: #24b2eb;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  h2,
  h3 {
    font-size: 1.1rem;
    color: #344767;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }


  p,
  li {
    color: #67748e;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 0.5rem;
    text-align: justify;
  }


  .btn-voltar {
    display: block;
    width: fit-content;
    margin: 2rem auto 0 auto;
  }
}


@media (max-width: 768px) {
  .card {
    padding: 1.5rem;
  }
}
