.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  width: 100%;
  max-width: 800px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  padding: 2.5rem;
  text-align: center;

  h1 {
    color: #24b2eb;
    font-weight: 800;
    margin-bottom: 0.5rem;
  }

  p.subtitle {
    color: #6c757d;
    margin-bottom: 2rem;
  }
}

.faq-section {
  text-align: left;
  background-color: #f8f9fa;
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 2rem;

  h3 {
    font-size: 1.1rem;
    color: #0d6efd;
    margin-bottom: 1rem;
  }

  strong {
    display: block;
    color: #343a40;
    margin-top: 1rem;
    font-size: 0.95rem;
  }

  p {
    font-size: 0.9rem;
    color: #24b2eb;
    margin-bottom: 0;
  }
}
.btn-primary-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: #0d6efd;
  color: white;
  border: none;

  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(13, 110, 253, 0.2);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  margin-bottom: 2rem;

  &:hover {
    background-color: #0b5ed7;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(13, 110, 253, 0.3);
  }

  mat-icon {
    margin-right: 8px;
  }
}


.btn-voltar {
  display: inline-block;
  background: transparent;
  border: 1px solid #dee2e6;
  color: #6c757d;

  padding: 0.5rem 1.2rem;
  font-size: 0.9rem;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
  margin-top: 1rem;

  &:hover {
    background-color: #e9ecef;
    color: #495057;
    border-color: #ced4da;
  }
}
