<h2 mat-dialog-title>Diminuir Saldo Disponível</h2>

<mat-dialog-content>
  <p>Qual valor você deseja remover do seu saldo virtual?</p>

  <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px">
    <mat-label>Valor a remover (R$)</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="valor"
      placeholder="0.00"
      cdkFocusInitial
    />
    <span matPrefix>R$&nbsp;</span>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="warn" (click)="salvar()" [disabled]="!valor">
    Diminuir
  </button>
</mat-dialog-actions>
