html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.warning-snackbar {
  --mdc-snackbar-container-color: #d32f2f; /* Vermelho Material (MDC) */
  --mdc-snackbar-supporting-text-color: white; /* Texto Branco */
  --mat-snack-bar-button-color: #ffd740; /* Botão Amarelo */

  /* Fallback para garantir que pegue em versões diferentes do Material */
  background-color: #d32f2f !important;
  color: white !important;

  .mdc-snackbar__surface {
    background-color: #d32f2f !important;
  }

  .mat-mdc-snack-bar-label {
    color: white !important;
  }

  .mat-mdc-simple-snack-bar-action {
    color: #ffd740 !important;
  }
}
